beautifulsoup4==4.12.2
blinker==1.6.2
blis==0.7.9
Bottleneck==1.3.7
CacheControl==0.12.11
cachetools==5.3.0
catalogue==2.0.8
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
cloudevents==1.9.0
colorama==0.4.6
confection==0.0.4
contourpy==1.0.7
cryptography==40.0.2
cycler==0.11.0
cymem==2.0.7
deprecation==2.1.0
fastai==1.0.60
fastprogress==1.0.3
filelock==3.12.0
firebase-admin==6.1.0
firebase-functions==0.1.0rc0
Flask==2.3.2
Flask-Cors==3.0.10
fonttools==4.39.3
functions-framework==3.3.0
google-api-core==2.11.0
google-api-python-client==2.86.0
google-auth==2.17.3
google-auth-httplib2==0.1.0
google-cloud-core==2.3.2
google-cloud-firestore==2.11.1
google-cloud-storage==2.9.0
google-crc32c==1.5.0
google-events==0.6.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.0
grpcio==1.54.0
grpcio-status==1.54.0
httplib2==0.22.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.4
langcodes==3.3.0
MarkupSafe==2.1.2
matplotlib==3.7.1
mpmath==1.3.0
msgpack==1.0.5
murmurhash==1.0.9
networkx==3.1
numexpr==2.8.4
numpy==1.24.3
nvidia-ml-py3==7.352.0
opencv-python-headless==4.7.0.72
packaging==23.1
pandas==2.0.1
pathy==0.10.1
Pillow==9.5.0
preshed==3.0.8
proto-plus==1.22.2
protobuf==4.22.4
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==1.10.7
PyJWT==2.6.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
requests==2.30.0
rsa==4.9
scipy==1.10.1
six==1.16.0
smart-open==6.3.0
soupsieve==2.4.1
spacy==3.5.2
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.6
sympy==1.11.1
thinc==8.1.10
torch==2.0.0
torchvision==0.15.1
tqdm==4.65.0
typer==0.7.0
typing_extensions==4.5.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.0.2
wasabi==1.1.1
watchdog==3.0.0
Werkzeug==2.3.3
